/* Header Styling */
.header {
  width: 100%;
  height: 70px;
  background-color: #060707;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2%;
  border-bottom: 1px solid #2c2c2c;
  position: relative;
}

/* Navigation */
.navigation {
  display: flex;
  align-items: center;
  column-gap: 30px;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* Premium Button */
.premium {
  border: 2px solid gold;
  padding: 4px 18px;
  border-radius: 15px;
  font-size: 12px;
  color: gold;
  font-weight: bold;
  display: flex;
  align-items: center;
  column-gap: 5px;
}

/* Nav Links */
.navLinks {
  display: flex;
  list-style: none;
  gap: 20px;
  align-items: center;
  color: white;
  font-weight: bolder;
}

.navLink {
  padding: 21px 0px;
  cursor: pointer;
}

.navLink:first-child {
  border-bottom: 4px solid #d900d8;
}

/* Search Bar */
.search {
  display: flex;
  align-items: center;
  gap: 20px;
}

.searchbox {
  display: flex;
  align-items: center;
  background-color: #1e1f20;
  border-radius: 18px;
  padding: 5px 10px;
  min-width: 180px;
  max-width: 250px;
  flex-grow: 1;
}

.searchInput {
  border: none;
  outline: none;
  background: none;
  color: white;
  width: 100%;
}

.usericon {
  height: 40px;
  cursor: pointer;
}

/* Search Results */
.searchResult {
  width: 100%;
  height: 100vh;
  background-color: rgba(229, 232, 232, 0.8);
  position: fixed;
  z-index: 10;
  display: flex;
  column-gap: 10px;
  flex-wrap: wrap;
  padding: 2%;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .navLinks {
      gap: 15px;
  }

  .searchbox {
      max-width: 300px;
  }
}

@media (max-width: 768px) {
  .navigation {
      flex-direction: column;
      align-items: center;
      position: relative;
  }

  /* Hamburger Menu */
  .hamburger {
      display: block;
      cursor: pointer;
  }

  .navLinks {
      display: none;
      flex-direction: column;
      background-color: #111;
      position: absolute;
      top: 70px;
      left: 0;
      width: 100%;
      padding: 10px 0;
  }

  .navLinks.active {
      display: flex;
  }

  .navLink {
      padding: 10px 20px;
      text-align: center;
      width: 100%;
      border-bottom: 1px solid #222;
  }

  .searchbox {
      max-width: 200px;
  }
}

@media (max-width: 480px) {
  .logo img {
      width: 100px;
  }

  .premium {
      display: none;
  }

  .searchbox {
      min-width: 140px;
      padding: 5px 8px;
  }

  .searchInput {
      font-size: 10px;
  }

  .headerIcon img {
      width: 12px;
  }


  .usericon {
      width: 30px;
      height: 30px;
  }

  .header {
      align-items: center;
  }
}
